<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="otrosServiciosPrestados">
            <h2><span jhiTranslate="rrhhApp.otrosServiciosPrestados.detail.title">Otros Servicios Prestados</span> {{otrosServiciosPrestados.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="rrhhApp.otrosServiciosPrestados.fecha">Fecha</span></dt>
                <dd>
                    <span>{{otrosServiciosPrestados.fecha}}</span>
                </dd>
                <dt><span jhiTranslate="rrhhApp.otrosServiciosPrestados.referencias">Referencias</span></dt>
                <dd>
                    <span>{{otrosServiciosPrestados.referencias}}</span>
                </dd>
                <dt><span jhiTranslate="rrhhApp.otrosServiciosPrestados.persona">Persona</span></dt>
                <dd>
                    <div *ngIf="otrosServiciosPrestados.persona">
                        <a [routerLink]="['/persona', otrosServiciosPrestados.persona?.id, 'view']">{{otrosServiciosPrestados.persona?.id}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/otros-servicios-prestados', otrosServiciosPrestados.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
